footer {
    width: 100%;
    height: auto;
    background-color: #303030;
    color: white;
    padding-bottom: 8%;

    @include media-min(768px) {
        padding-bottom: 0;
    }

    & h4 {
        font-family: Shrikhand;
        margin-bottom: 5%;
        padding-top: 5%;
        font-size: 20px;
    }

    & ul {
        @include media-min(992px) {
         display: flex;
         flex-direction: row;
        }
    }
    & ul li {
        padding-bottom: 4%;
        font-size: 17px;
        @include media-min(992px) {
            width: 40%;
           }
    }

    & ul li:nth-child(2) svg{

        @include media-min(768px) {
            margin-right: 4%;
            }
    }

    & h4,
    & ul li {
        margin-left: 4%;
    }

    & ul li svg {
        margin-right: 3%;
    }

    & ul li:nth-child(1) svg {
        margin-right: 5%;
    }
}
