body {
    font-family: roboto;
}
.restaurant-menu-img {
    background-image: url("assets/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.restaurant-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -20%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #e9ecef;

    & h2 {
        font-family: Shrikhand;
        border-top-left-radius: 80px 80px;
        margin-top: 10%;
        font-size: 25px;
        display: flex;
        justify-content: space-around;
    }

    & h4 {
        margin-top: 5%;
        margin-left: 4%;
        color: grey;
        padding-bottom: 2%;
        border-bottom: 1px solid #99e2d0;
        width: 10%;
        margin-bottom: 4%;
    }

    & ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        color: black;
    }

    & ul li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: solid 1px #f2f2f2;
        margin-bottom: 3%;
        width: 90%;
        height: 70px;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 24px 25px #f2f2f2;
        margin-left: 4%;
    }

    & ul li a {
        width: 100%;
        text-decoration: none;
        color: black;
    }

    & ul li h3 {
        width: 90%;
        margin-left: 3%;
        margin-top: 3%;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 4%;
    }

    & ul li div {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        margin-left: 3%;
    }

    & ul li div p:nth-child(2) {
        font-weight: bold;
    }

    & ul li div p:nth-child(1) {
        color: grey;
    }

    & ul:nth-child(4) {
        margin-bottom: 7%;
    }

    & button {
        margin: auto;
        margin-bottom: 15%;
    }
}
