body {
    font-family: roboto;
}

@keyframes itemAppear {
    0% {
      transform: scale(0)
    }
  
    to {
      transform: scale(1)
    }
  }
  .menu {
    max-width: 100%;
    overflow: hidden;
    padding: 0 3%
  }
  
  .menu__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 2%;
    font-weight: 400
  }
  
  .menu__title:after {
    content: "";
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
    height: 20%;
  }
  
  .menuItem {
    background-color: #fff;
    padding: 16px;
    display: flex;
    border-radius: 12px;
    margin: 16px 0;
    box-shadow: 0px 0px 16px #0000001a;
    overflow: hidden;
    cursor: pointer;
    animation: itemAppear .6s;
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
  }
  
  .menuItem div:nth-child(1) {
    flex: 1
  }
  
  .menuItem div:nth-child(1), .menuItem div:nth-child(1) h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
  }
  
  .menuItem div:nth-child(1) h4 {
    margin: 0
  }
  
  .menuItem div:nth-child(1) p {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
  }
  
  .menuItem div:nth-child(2) {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 80px
  }
  
  .menuItem-confirmation {
    background-color: #99e2d0;
    margin: -16px -80px -16px 16px;
    width: 64px;

    transition-duration: 3s
  }
  
  .menuItem:hover .menuItem-confirmation {
    margin-right: -16px
  }
  
  .menuItem-confirmation div:nth-child(1) {
    height: 26px;
    width: 26px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 3s
  }
  
  .menuItem:hover .menuItem-confirmation div:nth-child(1) {
    transform: rotate(0)
  }
  
  i {
    color: #99e2d0
  }
  